*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
h2
{
    font-size: 30px;
}
body
{
   background-image: linear-gradient(to top left,#070707,rgba(41, 41, 51, 0.938)); 
   background-repeat: no-repeat;
   height: 200vh;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form
{
    width: 40%;
    margin: 60px auto;
    background-color:#fff;
    height: 900px;
    border-radius: 10px;
    padding: 60px 0;
    text-align: center;
}
input
{
    display: inline-block;
    width: 80%;
    margin-top: 30px;
    padding: 10px 0;
    border: 0;
    font-size: 20px;
    border-bottom: 3px solid #ccc;
    color: rgb(0, 0, 0);

}
input[type="submit"]
{
    margin-top: 30px;
    background-image: linear-gradient(to top right,#303233,rgb(61, 61, 65)) ;
    border-radius: 10px;
    color: #fff;
}
textarea
{
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 10px;    
    color: black;
}

@media screen and (max-width:950px) {
    form{
        width: 45%;
    }
}
@media screen and (max-width:550px) {
    form{
        width: 70%;
    }
}
@media screen and (max-width:350px) {
    form{
        width: 90%;
    }
}